.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0 20px;
  color: rgb(62, 106, 146);
}
.addList-button {
  font-size: 80px;
  border: none;
  background: none;
  color: rgb(62, 106, 146);
}
